<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.app.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    <!-- Add permission for internet (android.permission.INTERNET) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Add permission for camera (android.permission.CAMERA) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Add permission for writing to external storage (android.permission.WRITE_EXTERNAL_STORAGE) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.ualberta.app.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.app.activity.CreateInputsActivity"
            android:label="@string/title_activity_create_input" >
        </activity>
        <activity
            android:name="ca.ualberta.app.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="ca.ualberta.app.activity.QuestionDetailActivity"
            android:label="@string/title_activity_question_detail" >
        </activity>
        <activity
            android:name="ca.ualberta.app.activity.MyQuestionActivity"
            android:label="@string/title_activity_my_question" >
        </activity>
    </application>

</manifest>